* {
    margin: 0px;
    border: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
main{
    background: url(/Task/truck-bg1.jpg) no-repeat center;
    height: 100vh;
    background-size: cover;
    color: #fff;
}
header{
    background-color: rgba(60, 100, 120, 0.386);
    /* padding: 10px; */
}
header nav{
    padding: 10px;
    margin-left: 200px;
    margin-right: 200px;
}
#logo{
    float: left;
    width: 20%;
    /* padding: 10px; */
}
#lang{
    float: right;
    padding-top: 17.8px;
    padding-bottom: 17.8px;
}
#contents{
    float: right;
    margin-right: 50px ;
    padding-top: 17.8px;
    padding-bottom: 17.8px;
}
#contents li{
    /* float: left; */
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
}
article{
    text-align: center;
    margin: 200px 400px 0px 400px;
}
h1{
    font-size: 50px;
    margin-bottom: 20px;
}
h4{
    margin-bottom: 20px;
}
#btn1{
    margin-left: 75px;
    padding-left: 100px ;
}
#btn2{
    margin-right: 75px;
    padding-right: 100px;
}
#btn1 button{
    float: left;
    background: none;
    border: 3px solid #fff;
    padding: 10px 40px;
    color: #fff;
}
#btn2 button{
    float: right;
    background: none;
    border: 3px solid #fff;
    padding: 10px 40px;
    color: #fff;
}
.cover{
    margin: 0px 0px;
    background-color: #f7f9fc;
    padding: 0px 150px 0px 150px ;
    height: 600px;
}
.card{
    float: left;
    margin: 60px 20px;
    width: 360px;
    text-align: center;
    background-color: #ffffff;
    border: 2px solid #f7f9fc;
    border-radius: 20px;
    padding: 10px;
}
.card img{
    width: 100%;
}
.card h2{
    padding: 20px 0px 10px 0px;
}
.card p{
    padding: 20px 20px;
}
.card .btn3{
    padding: 20px 0px 20px 0px;
}
.card .btn3 label{
    background-color: #5d6b82;
    border: 2px solid #5d6b82;
    padding: 10px 30px;
    border-radius: 10px;
    color: #fff;
}
.info{
    background-color:#f7f9fc ;
    width: 100vw;
    height: 500px;
}
.inform{
    float: left;
    margin: 20px 180px;
    padding: 10px 20px;
    width: 30%;
    border-radius: 10px;
    background-color: #eef1f5;
}
.inform h2{
    margin-top: 10px;
    margin-bottom: 10px;
    color: #3c4a62;
}
.inform input{
    float: left;
    height: 40px;
    margin: 10px auto;
}
.Name input{  
    /* float: left; */
     width: 100%;
}
.inform .mailphn input{
    /* float: left; */
    margin: 0px 10px;
    width: 50%; 
}
.inform #text textarea{
    float: left;
    margin: 10px 0px;
    width: 100%;
}
.inform #rm{
    float: left;
    margin: 10px 0px;
}
.clear {
    clear: both;
}