* {
    margin: 0px;
    border: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
main{
    background: url(/Task/truck-bg1.jpg) no-repeat center;
    height: 100vh;
    background-size: cover;
    color: #fff;
}
header{
    background-color: rgba(60, 100, 120, 0.386);
    /* padding: 10px; */
}
header nav{
    padding: 10px;
    margin-left: 200px;
    margin-right: 100px;
}
.fa-user{
    padding: 10px 10px 10px 40px;
} 
.fa-magnifying-glass, .fa-bag-shopping{
    padding: 10px;
}
.fa-angle-right{
    margin-right: 150px;
    margin-left: 5px;
}
.fa-angle-left{
    margin-left: 150px;
    margin-right: 5px;
}

.fa-angle-left,.fa-angle-right{
    float: right;
    background-color: #fff;
    color: #000;
    font-size: 40px;
}
.fa-angle-left:hover,.fa-angle-right:hover{
    background-color: rgb(253, 215, 0);
    color: #fff;
}
#logo{
    float: left;
    width: 20%;
    padding: 10px;
}

#contents{
    float: right;
    margin-right: 50px ;
    padding-top: 17.8px;
    padding-bottom: 17.8px;
}
#contents li{
    /* float: left; */
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
}
li:hover{
    color: rgb(253, 215, 0);
}
.article{
    text-align: center;
    margin: 100px 400px 0px 400px;
    height: 400px;
}
h1{
    font-size: 50px;
    margin-bottom: 20px;
}
h4{
    margin-bottom: 20px;
}
.btn1,.btn2{
    float: left;
    margin: 10px;
    background: none;
    border: 3px solid #fff;
    color: #fff;
    width: 39%;
    height: 50px;
}
.btn1{
    margin-left: 68.113px;
}
.btn2{
    margin-right: 68.113px;
}
button:hover{
    background-color: rgb(253, 215, 0);
    border: none;
}
.arrow{
    float: right;
}
.cover{
    margin: 0px 0px;
    background-color: #f7f9fc;
    padding: 0px 150px 0px 150px ;
    height: 600px;
}
.card{
    float: left;
    margin: 60px 20px;
    width: 360px;
    text-align: center;
    background-color: #ffffff;
    border: 2px solid #f7f9fc;
    border-radius: 20px;
    padding: 10px;
}
.card img{
    width: 100%;
}
.card h2{
    padding: 20px 0px 10px 0px;
}
.card p{
    padding: 20px 20px;
}
.btn3{
    padding: 20px 0px 20px 0px;
    background-color: #5d6b82;
    border: 2px solid #5d6b82;
    padding: 10px 30px;
    border-radius: 5px;
    color: #fff;
}
.info{
    background-color:#f7f9fc ;
    height: 500px;
}
.inform{
    float: left;
    margin: 20px 180px;
    padding: 10px 20px;
    width: 30%;
    border-radius: 10px;
    background-color: #eef1f5;
}
.inform h2{
    margin-top: 10px;
    margin-bottom: 10px;
    color: #3c4a62;
}
.inform input{
    float: left;
    height: 40px;
    margin: 10px auto;
}
.Name input{  
    /* float: left; */
     width: 100%;
}
.inform .mailphn input{
    /* float: left; */
    margin: 0px 10px;
    width: 50%; 
}
.inform #text textarea{
    float: left;
    margin: 10px 0px;
    width: 100%;
}
.rm{
    float: left;
    margin: 10px 0px;
    padding: 20px 0px 20px 0px;
    background-color: #5d6b82;
    border: 2px solid #5d6b82;
    padding: 10px 30px;
    border-radius: 5px;
    color: #fff;
}
.about{
    background-color: #fff;
}
.fa-suitcase,.fa-thumbs-up,.fa-users{
    color: rgb(253, 215, 0);
    font-size: 30px;
    margin: 20px 40px;
    float: left;
}
.clear {
    clear: both;
}