* {
    margin: 0px;
    padding: 0px;
    border: 0px solid;
    box-sizing: border-box;
}
main {
    display: flex;
    height: 100vh;
}
h1 {
    font-size: 50px;
}

header {
    background-color: #212121;
    color: white;
    height: 100vh;
    width: 15%;
    text-align: center;
    scroll-behavior: smooth;
}
header h2{
    padding: 10px;
    border-top: 1px solid orangered;
    border-bottom: 1px solid orangered;
    margin-bottom: 10px;
}
header ul{
    display: block;
    list-style: none;
}
header a {
    color: white;
    text-decoration: none;
    transition: 1s;
}
header li{
    padding: 10px;
    background-color: #111111;
    border: 1px solid #111111;
    margin: auto;
    margin-bottom: 10px;
    width: 100px;
    text-align: center;
    border-radius: 10px;
}
header a:hover{
    color: orangered;
    text-decoration: underline white;
}
header > i{
    color: white;
    padding: 10px;
    font-size: 20px;
    border: 1px solid orangered;
    border-radius: 50%;
    background-color: orangered;
    transition: 1s;
    cursor: pointer;
}
header > i:hover{
    background-color: white;
    color: orangered;
    border: white;
    transform: rotate(360deg);
}
article {
    background-color: #111111;
    width: 85%;
    height: 100vh;
    overflow: auto;
    padding: 20px;
    scroll-behavior: smooth;
}
section{
    height: 100vh;
    background-color: #212121;
    color: white;
    margin: 20px;
    border-radius: 15px;
    text-align: center;
}
.social{
    float: left;
    width:43.5%;
    /* height: 30%; */
    /* border: 1px solid white; */
    margin: 50px 25px 50px 50px;
}
.profiles{
    /* border: 1px solid white; */
    margin: 10px;
    border-radius: 10px;
    box-shadow: -2px -2px 5px 5px black;
    padding: 10px;
}
.profiles>i{
    /* border: 1px solid white; */
    border-radius: 50%;
    /* box-shadow: -2px -2px 5px 5px black; */
    padding: 10px;
    background-color: #111111;
    color: #888888;
    transition: 1s;
    font-size: 25px;
}
.profiles>i:hover{
    background-color: orangered;
    color: white;
}
.fa-share-nodes,.mail .fa-envelope,.fa-phone{
    font-size: 25px;
    padding: 10px;
    color: orangered;
    background-color: #111111;
    border-radius: 50%;
}
.maiphn{
    padding: 10px 0px;
    height: 220.4px;
}
.mail,.phn{
    float: left;
    width: 46%;
    /* border: 1px solid white; */
    margin: 10px;
    border-radius: 10px;
    box-shadow: -2px -2px 5px 5px black;
    padding: 10px;
    text-align: center;
    word-break: break-word;
    height: 180.4px;
}
.info{
    float: left;
    width:43.5%;
    /* height: 30%; */
    /* border: 1px solid white; */
    margin: 50px 50px 50px 25px;
    border-radius: 10px;
    box-shadow: -2px -2px 5px 5px black;
    padding: 10px;
    height: 411.4px;
}
.info input{
    background-color: #212121;
    /* border: 1px solid black; */
    /* margin: 10px 20px; */
    height: 41px;
    color: white;
    border-radius: 10px;
    box-shadow: -0.5px -0.5px 2px 2px black;
    padding: 10px;
}
#Namein{
    float: left;
    width: 43.3%;
    margin: 10px 10px 10px 20px ;
}
#Mailin{
    float: left;
    width: 43.3%;
    margin: 10px 20px 10px 10px ;
}
#sub{
    float: left;
    width: 90%;
    margin: 10px 20px;
    
}
#mess{
    background-color: #212121;
    color: white;
    width: 90%;
    margin: 10px 20px;
    border-radius: 10px;
    box-shadow: -0.5px -0.5px 2px 2px black;
    padding: 10px;
}
#send{
    background-color: orangered;
    color: white;
    padding: 10px;
    transition: 1s;
    border: 1px solid orangered;
    border-radius: 10px;
}
#send:hover{
    background-color: #212121;
}
.scroll {
    position: fixed;
    top: 118px;
    left: 1482px;
    background-color: #212121;
    color: white;
    padding: 10px;
    text-align: center;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
}
.scroll>i {
    transition: 1s;
    cursor: pointer;
}
.scroll > i:hover{
    color: orangered;
    transform: rotate(720deg);
}
.settings{
    display: none;
    position: absolute;
}
.settings h2,h3{
    border-bottom: 1px solid white;
    padding: 10px;
}
.scroll:hover .settings{
    display: block;
    background-color: #212121;
    left: -65px;
}

/* .bottom{
    position: fixed;
    top: 100px;
    left: 500px;
    height: 50px;
    background-color: #212121;
    color: white;
    padding: 10px;
    text-align: center;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
} */

