* {
    margin: 0px;
    padding: 0px;
    border: 0px solid;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
main {
    display: flex;
    height: 100vh;
}
h1 {
    font-size: 50px;
}

header {
    background-color: #212121;
    color: white;
    height: 100vh;
    width: 15%;
    text-align: center;
    scroll-behavior: smooth;
}
header img{
    height: 300px;
    margin: 20px auto;
    /* width: 227px    ; */
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 85%);
}
header h2{
    padding: 10px;
    border-top: 1px solid orangered;
    border-bottom: 1px solid orangered;
    margin-bottom: 10px;
}
header ul{
    display: block;
    list-style: none;
}
header a {
    color: white;
    text-decoration: none;
    transition: 1s;
}
header li{
    padding: 10px;
    background-color: #111111;
    border: 1px solid #111111;
    margin: auto;
    margin-bottom: 10px;
    width: 100px;
    text-align: center;
    border-radius: 10px;
}
header a:hover{
    color: orangered;
    text-decoration: underline white;
}
header > i{
    color: white;
    padding: 10px;
    font-size: 20px;
    border: 1px solid orangered;
    border-radius: 50%;
    background-color: orangered;
    transition: 1s;
    cursor: pointer;
}
header > i:hover{
    background-color: white;
    color: orangered;
    border: white;
    transform: rotate(360deg);
}
article {
    background-color: #111111;
    width: 85%;
    height: 100vh;
    overflow: auto;
    padding: 20px;
    scroll-behavior: smooth;
}
section{
    height: 100vh;
    background-color: #212121;
    color: white;
    margin: 20px;
    border-radius: 15px;
    text-align: center;
}
#home img{
    height: 70%;
    width: 75%;
    margin-bottom: 30px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 85%);
}
section h1{
    margin: 20px auto;
    padding-top: 20px;
}
section h4{
    padding: 10px;
    color: #888888;
}
#about .image{
    float: left;
    overflow: hidden;
    height: 60vh;
    width: 18vw;
    margin: 20px 0px 40px 40px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 85%);
}
#about .image img{
    height: 60vh;
    width: 18vw;
    transition: 0.5s;
    border-radius: 20px;
    transform: scale(1.5);
}
#about .image img:hover{
    transform: scale(1);
}
#about .intro{
    float: left;
    margin: 40px 10px;
    width: 35%;
}
#about .intro .entity{
    display: flex;
    text-align: left;
    padding: 10px;
    color: white;
    font-size: 18px;
}

#about .intro .entity .ans{
    padding-left: 10px;
    word-break: break-word;
    color: orangered;
    transition: 0.5s;
}
#about .intro .entity .ans:hover{
    color: white;
}
#about .intro .bloc{
    color: #888888;
    padding: 20px;

}
.social{
    float: left;
    width:43.5%;
    margin: 50px 25px 50px 50px;
}
.profiles{
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 5px black;
    padding: 10px;
}
.profiles>i{
    border-radius: 50%;
    padding: 10px;
    background-color: #111111;
    color: #888888;
    transition: 1s;
    font-size: 25px;
    cursor: pointer;
}
.profiles>i:hover{
    background-color: orangered;
    color: white;
}
.fa-share-nodes,.mail .fa-envelope,.fa-phone{
    font-size: 25px;
    padding: 10px;
    color: orangered;
    background-color: #111111;
    border-radius: 50%;
}
.maiphn{
    padding: 10px 0px;
    height: 220.4px;
}
.mail,.phn{
    float: left;
    width: 46%;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 5px black;
    padding: 10px;
    text-align: center;
    word-break: break-word;
    height: 180.4px;
}
.info{
    float: left;
    width:43.5%;
    margin: 50px 50px 50px 25px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 5px black;
    padding: 10px;
    height: 411.4px;
}
.info input{
    background-color: #212121;
    height: 50px;
    color: white;
    border-radius: 10px;
    box-shadow: -0.5px -0.5px 2px 2px black;
    padding: 10px;
}
#Namein{
    float: left;
    width: 43.3%;
    margin: 10px 10px 10px 20px ;
}
#Mailin{
    float: left;
    width: 43.3%;
    margin: 10px 20px 10px 10px ;
}
#sub{
    float: left;
    width: 90.552%;
    margin: 10px 20px;
}
#mess{
    background-color: #212121;
    color: white;
    width: 90.552%;
    height: 120px;
    margin: 10px 20px;
    border-radius: 10px;
    box-shadow: -0.5px -0.5px 2px 2px black;
    padding: 10px;
}
#send{
    background-color: orangered;
    color: white;
    padding: 10px;
    transition: 1s;
    border: 1px solid orangered;
    border-radius: 10px;
    width: 30%;
    margin: 10px auto;
}
#send:hover{
    background-color: #212121;
}
.scroll {
    position: fixed;
    top: 118px;
    left: 1483px;
    background-color: #212121;
    color: white;
    padding: 10px;
    text-align: center;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
}
.scroll>i {
    cursor: pointer;
    animation-name: scroll;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    transition: 1s;
}
@keyframes scroll{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
.scroll > i:hover{
    color: orangered;
}
.settings {
    position: relative;
    left: 0px;
}
/* .bottom{
    position: fixed;
    top: 100px;
    left: 500px;
    height: 50px;
    background-color: #212121;
    color: white;
    padding: 10px;
    text-align: center;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
} */

